**Introduction to Jupyter notebooks:**

![Welcome!](02_images/notebook1.jpg)

Jupyter notebooks consist of many individual cells (similar to individual chunks found in an R markdown file).  

You can:  

+ Toggle between edit (**enter key**) or command (**esc key**).
+ Toggle between code (**y key**) or markdown (**m key**).
+ Each cell can run its individual code.
+ Each cell only prints its last output, unless specified using **print()**. 
+ During edit mode, **x | c | v | d keys** can be used to manipulate individual cells.
+ Create new cells using **a | b keys** and navigate through them using **shift + enter keys** or **up | down keys**.
+ Also use **control + enter keys** to run cells.

In [1]:
b = [1,2,3] # use square brackets to store data in a list
b # each cell prints the last output

[1, 2, 3]

In [2]:
c = [[14, 15, 16], 5, 6, 7]
print(c) # print() displays the output during any stage of coding in a cell

c[0][1] # 1st position in the inner list found in position 0

[[14, 15, 16], 5, 6, 7]

15

**Python can be used as a calculator when working with numbers.**
+ Addition and subtraction.
+ Work with negative numbers.
+ Multiply and divide (following left to right rules, i.e. higher powers or multiplication and division are computed first).
+ Square numbers using the power command **n (i.e. to the power of n).  

Note: Numbers can be either **integers** (faster, no decimals) or **floats** (slower, decimals).

In [3]:
4 + 12

16

In [4]:
-5 + 10

5

In [5]:
3 * 10 / 3 # mathematical operation is calculated from left to right

10.0

In [6]:
2**3 # to the power of 3

8

**Some unique mathematical functions also exist.**  
+ Divide and floor - using the **// symbol**.  
+ Divide and print the reminder - using the **% symbol**.

In [7]:
# divide and floor (find the closest whole number divisor?)
print(7//3) # i.e. 2 x 3 = 6
print(10//3) # i.e. 3 x 3 = 9
print(10//4) # i.e. 2 x 4 = 8
print(10//5)

2
3
2
2

In [8]:
# compare // with /
7/2

3.5

In [9]:
# % returns you the remainder after the division
print(6%2)
print(6%5) # 1 x 5 = 5 and 6 - 5 = 1

0
1

**Creating and manipulating character strings:**  
+ Words can be converted into strings, by placing them inside the **" " symbol** or **' ' symbol**.  
+ Consistency is key: used "" or '' consistently.  
+ Unlike R, character strings can be directly added or even multiplied.

In [10]:
word = "This is a word."
word

'This is a word.'

In [11]:
my_name = "Erika" + " " + "M" + " " + "Duan" #manually add spaces via " "
my_name # do not use my.name for annotation

'Erika M Duan'

In [12]:
Gollum_says = "my" + " " + "precious" + "s" * 5
Gollum_says

'my precioussssss'

**In python, functions follow the general structure function (objects, arguments).**  

Examples include:  
+ **type()** is a useful function for knowing your data type.
+ **len()** behaves like length() in R - it finds the length of a string.
+ **int()** | **str()** | **float()** are forms of data coercion and behaves like **as.integer**, **as.character** and **as.numeric** in R.

In [13]:
type("Hobbit")

str

In [14]:
type(3**2)

int

In [15]:
type(1.5) # has decimals, hence a float

float

In [16]:
len("I like penguins.")

16

In [17]:
len("I like many penguins.") # 5 more characters than the previous sentence

21

The **len() function** is used to find the length of characters/strings. It is not meant to print the value of an integer or float.  
The following code will produce an error.

In [18]:
len(5000) # error - object of type 'int' has no len()

TypeError: object of type 'int' has no len()

The code below will not produce an error, but it can be misleading as it is still printing the length of a string (which contains numerical characters).

In [19]:
len("5000") # character length of 4
len(str(5000)) # also coerces 5000 into a character

4

**How to coerce characters, intergers and floats:**

In [20]:
str(5000) # "5000" is a string

'5000'

In [21]:
int(3.4445) # coercing integers always rounds down to the nearest full integer

3

In [22]:
float(5) # retains decimals if present

5.0

In [23]:
int(1.0) + int(float("1.1")) # integer coercion forces float 1.1 into a 1

2

**Navigating string specific functions:**  
+ To make everything uppercase, use the **.upper() method**.   
    + Unlike functions, methods are thought of as actions which perform changes on objects.
    + In pythong, the coding syntax is object**.methods(arguments)**.   
    
+ Other examples of methods exist [here](https://docs.python.org/3/library/stdtypes.html#string-methods).
    + "str".capitalize
    + "str".title  
    
**Writing a object.method as a function(object) will generate an error message.**

In [24]:
upper("Hello World") # incorrectly using a function instead of a method

NameError: name 'upper' is not defined

In [25]:
"Hello World!!!".upper() # method because it changes the object to another form

'HELLO WORLD!!!'

In [26]:
"Yarrgehe CiVILiSED PIRATE LANGUAGE".title()

'Yarrgehe Civilised Pirate Language'

**Using the print() function:**  
+ Print statements take the data input and print it as an output (i.e. as a string) to the console. 
+ Useful when trying to format some text output in a particular way - such as only using 2 decimal points for a number.
+ Useful for 'looking under the hood' when you are coding.
+ Useful when you are looking for issues in the code, i.e. you can print out your data at the point where you think things are going wrong.

In [27]:
print("Hello", "World", 2019) # unlike adding strings, there is no need to add the " " spaces manually

Hello World 2019

In [28]:
print(100,000,000) # never use commas for large integers

100 0 0

**Assigning variables in python**  
Python allows assigning of variables using the **= symbol**.  

When assigning variables, you must follow some rules:  
+ Names must start with a letter (a-z,A-Z) or underscore (_) and can be followed by any number of letters, digits (0-9), or underscores.
+ Names cannot be the same as reserved words (i.e. False, True, None, And, If, For, While). 
+ Names are case-sensitive: 'YOU', 'you', 'You', and 'yOu' are all different names in Python.
+ The **- | + | * | /** symbols are used by Python for defining operations on data and also cannot be used.

In [29]:
number = 3.5

print(type(number))

<class 'float'>

In [30]:
print(number*2 + 5) # (3.5 x 3.5) + 5

12.0

**Printing sentences by stringing together characters and variables can be cumbersome and bulky.**

In [31]:
team_name = "Python Users"
team_count = 2
team_age = 31.5

print("Our team name is", team_name, ".", "We are", team_count, "in team number and our average age is", team_age, ".")

Our team name is Python Users . We are 2 in team number and our average age is 31.5 .

**Luckily, an elegant way of performing print() exists that doesn't add in unintended spaces.**  

It follows the syntax **print("This sentence contains %s and %i and %f." %(string, integer, float))**.  
However, this format converts the string into a 'None Type' class.

In [32]:
TeamName = 'R Users'
X = 4
Y = 25.976
print("Our team name is %s. We have %i members and we are, on average, %0.2f years old." %(TeamName, X, Y))

# %0.2f represents a float rounded to only 2 decimal places

Our team name is R Users. We have 4 members and we are, on average, 25.98 years old.

In [33]:
Fellowship = 'Fellowship of the Ring'
Team_number = 9
Member = 'Gimli'

print("In the %s, the team consisted of %i members. The shortest person was %s."
      %(Fellowship, Team_number, Member))

In the Fellowship of the Ring, the team consisted of 9 members. The shortest person was Gimli.

In [34]:
message = print("Hello world. I know %i programming languages, %s and %s." %(2, "R", "python"))
print(type("message"))
print(type(message)) 

str(message) # coerces to characters
print(type(str(message)))

Hello world. I know 2 programming languages, R and python.
<class 'str'>
<class 'NoneType'>
<class 'str'>

**3 pet peeves of python**
1. The first object in a list is stored in position **[0]**.
2. To slice from a list, always slice between a and b+1 to extract a:b.
3. Using list2 = list1 creates two names for the same list; use **list2 = list1[:]** or **list2 = list1.copy()** instead.

**Extra Python Crash Course Challenge - printing lists**  
For the original exercise, please refer to page 46 of Python Crash Course (8th printing) by Eric Matthes.

In [35]:
# Write a guest list and individually write an invitation asking people to dinner. 
original_invite = ["Dad", "Mum", "Dan", "family cat"]

for invitee in original_invite:
    print("Hello %s! I would like to invite you to dinner." %(invitee))

Hello Dad! I would like to invite you to dinner.
Hello Mum! I would like to invite you to dinner.
Hello Dan! I would like to invite you to dinner.
Hello family cat! I would like to invite you to dinner.

In [36]:
print("Oh no, the %s can't make it to dinner anymore. I guess I will have to change the list." %(original_invite[3]))

Oh no, the family cat can't make it to dinner anymore. I guess I will have to change the list.

In [37]:
new_invite = original_invite.copy() # create a copy of the original invite

new_invite[3] = "neighbour's cat" 

for new_invitee in new_invite:
     print("Hello %s! I would like to invite you to dinner." %(new_invitee))

Hello Dad! I would like to invite you to dinner.
Hello Mum! I would like to invite you to dinner.
Hello Dan! I would like to invite you to dinner.
Hello neighbour's cat! I would like to invite you to dinner.

In [38]:
# The list increases in size!

new_invite.insert(2, "family corgi") # adds a new object at the third position
new_invite.append("family German Shepherd") # adds a new object into the last position
                  
print("Now the invite includes %s." %(new_invite))

Now the invite includes ['Dad', 'Mum', 'family corgi', 'Dan', "neighbour's cat", 'family German Shepherd'].

In [39]:
# The list decreases in size again!
for next_time in new_invite[4:]: # objects from the fifth to last position 
    next_time = new_invite.pop(-1) # remove objects from new_invite list and store the object in in next_time 
    print("Sorry %s, we will be inviting you to dinner another day." %(next_time))

for new_invitee in new_invite:
    print("Okay, %s! It's dinner time." %(new_invitee))

Sorry family German Shepherd, we will be inviting you to dinner another day.
Sorry neighbour's cat, we will be inviting you to dinner another day.
Okay, Dad! It's dinner time.
Okay, Mum! It's dinner time.
Okay, family corgi! It's dinner time.
Okay, Dan! It's dinner time.

In [40]:
# Deleting elements in a list using del

print(new_invite) # new invite has been modified due to the previous for loop
del new_invite[2] # del can also be used to delete an object in a list at any position

print(new_invite)

['Dad', 'Mum', 'family corgi', 'Dan']
['Dad', 'Mum', 'Dan']

**This concludes the introduction to navigating Jupyter notebooks and using python data structures.**