Welcome to **Jupyter notebooks**. 
Jupyter notebooks are consisted of many different types of cells:
+ Toggle between edit (enter) or command (esc) or markdown (m)
+ Each cell can run its individual code
+ During edit mode, x|c|v|d commands can be used to manipulate individual cells
+ Create new cells using a|b and navigate through them using shift + enter or up | downs
+ Also use control + enter to run cells

In [1]:
b = [1,2,3] #use square brackets to store data in a list
b #each cell prints the last output

[1, 2, 3]

In [1]:
c = [[14, 15, 16], 5, 6, 7]
print(c) #print allows output printing during any stage of coding in a cell
c[0][1]

[[14, 15, 16], 5, 6, 7]

15

**Python can be used as a calculator when working with numbers**
+ Addition
+ Work with negative numbers
+ Multiply and divide (following left to right rules, higher powers or multiplication and division first)
+ Square numbers using the power command **2 (i.e. ** = to the power of)  

Note: Numbers can be either integers (faster, no decimals) or floats (slower, decimals).

In [10]:
4 + 12

16

In [11]:
-5 + 10

5

In [12]:
3 * 10 / 3

10.0

In [13]:
2**3 #to the power of 3

8

*Some interesting mathematical functions also exist.*

In [22]:
#divide and floor (find smallest whole numeber?)
print(7//3)
print(10//3)
print(10//4)

2
3
2

In [20]:
#compare with divide
7/2

3.5

In [24]:
# % returns you the remainder amount after division
print(6%2)
print(6%5) # 6/5 = 1 times (but 1 is leftover)

0
1

**Using character strings**  
Words can also be added as strings, inside "" or ''.  
Consistency is key: used '' or "" consistently.  
Unlike R, word strings can be directly added or even multiplied.

In [27]:
word = "This is a word"
word

'This is a word'

In [29]:
my_name = "Erika" + " " + "Mubby" + " " + "Duan" #manually add spaces via " "
my_name #do not use my.name annotation

'Erika Mubby Duan'

In [30]:
Gollum = "my" + " " + "precious" + "s"*5
Gollum

'my precioussssss'

**Using functions**  
Functions follow the general structure function(objects, arguments).
Examples include:  
+ type() is a useful function for knowing your data type.
+ len() is like length() in R - finds the length of a string
+ int() | str() | float () are forms of data coercion

In [36]:
type("Hobbit")

str

In [37]:
type(1.5)

float

In [38]:
type(3**2)

int

In [39]:
len("I want a stringu pingu.")

23

In [40]:
len("I want a string pingu.")

22

In [41]:
len(5000) #object of type 'int' has no len()

TypeError: object of type 'int' has no len()

In [32]:
len(str(5000)) #5000 has been coerced into a string

4

In [33]:
int(3.4445) #coercing integers always rounds down to the nearest full integer

3

In [34]:
float(5) #retains decimals if present

5.0

In [35]:
int(1.0) + int(float("1.1")) #int coercion forces float 1.1 into a 1

2

**Navigating string specific functions**  
+ To make everything uppercase, use .upper() 
    + Methods are functions specific to a certain type of object.
    + Format follows object.methods(arguments)  
+ Other examples exist [here](https://docs.python.org/3/library/stdtypes.html#string-methods).
    + "str".capitalize
    + "str".title

In [47]:
upper("Hallo World")

NameError: name 'upper' is not defined

In [36]:
"Hallo World".upper() #method because it changes the object to another form

'HALLO WORLD'

In [52]:
"Yarrgehe HHITTT THAT fly".title()

'Yarrgehe Hhittt That Fly'

**Using the print statement**  
+ Print statements take the data that you put into it, and then output it (as a string) to the console. 
+ Useful when trying to format some text output in a particular way - such as only using 2 decimal points of a number.
+ Look under the hood when you are coding
+ It is also useful when you are looking for issues in the code, you can print out your data where you think things are going wrong.

In [56]:
print("Hello", "World", 2019)

Hello World 2019

In [58]:
print(100,000,000) #do not use commas for large integers

100 0 0

**Assigning variables in python**  
Like R (which uses <-), python allows assigning of variables (using =).  
Naming variables follows some rules:  
+ Names must start with a letter (a-z,A-Z) or underscore (_) and can be followed by any number of letters, >digits (0-9), or underscores
+ Names cannot be the same as reserved words (False, True, None, And, If, For, While). 
+ Names are case-sensitive: 'YOU', 'you', 'You', and 'yOu' are all different names in Python
+ '-', '+', '*', and '/' are used by Python for defining operations on data and cannot be used

In [59]:
number = 3.5
print(type(number))
# What will be the answer here?

<class 'float'>

In [60]:
print(number**2 + 5)

17.25

In [63]:
team_name = "Mubby rules python"
team_count = 2
team_age = 31.5

print("Our team name is", team_name, ".", "We are", team_count, "in team number and our average age is", team_age, ".")

Our team name is Mubby rules python . We are 2 in team number and our average age is 31.5 .

In [6]:
TeamName = 'Geography'
X = 4
Y = 25.976
print("Our team name is '%s'. We have %i members and we are, on average, %0.3f years old" %(TeamName, X, Y))

Our team name is 'Geography'. We have 4 members and we are, on average, 25.976 years old

In [7]:
Fellowship = 'Fellowship of the Ringu'
Team_number = 9
Height_diff = 1.23
Member = 'Gimli'

print("In the '%s', the team was %i with a height difference of %0.2f metres, and '%s' was the dwarf."
      %(Fellowship, Team_number, Height_diff, Member))

In the 'Fellowship of the Ringu', the team was 9 with a height difference of 1.23 metres, and 'Gimli' was the dwarf.

**You will notice that the latter print format is more flexible for usage.**  
Use the **%** to add other data types and formatting into your print string.  
You can add multiple %i in one sentence, and the order is determined by the sequence specified in brackets. 
    + Use %i = int
    + Use %f = float (add numbers/decimals before the f to specify how many numbers you want to be visible)
    + Use %s = string
    
What happens when you mislabel or forget to label a type? (Error messages!)

In [11]:
name = "chocolate"
message = print("Hello world of %s and %i %s." %(name, 2, 'cats'))
type(message) # the problem is that you have mislabelled a type?

Hello world of chocolate and 2 cats.

NoneType

In [13]:
message = print('Hello world of %s and %i lamas.' %('pingu',2))
type(message) # the problem is that you have mislabelled a type?
str(message)
type(message)

Hello world of pingu and 2 lamas.

NoneType

**3 pet peeves of python**
+ the first object in a list is [0]
+ to slice from a list, always slice between a and b+1 to extract a:b
+ list2 = list1 creates two names for the same list; use list2 = list1[:]

**Python training guest list challenge**

In [57]:
# Write a guest list and individually write an invitation asking them to dinner. 
original_invite = ["Dad", "Mama", "Dong nubs", "Caesar cattu"]

for invitee in original_invite:
    print("Hello! I would like to invite %s to dinner. From Bingbing" %(invitee))

Hello! I would like to invite Dad to dinner. From Bingbing
Hello! I would like to invite Mama to dinner. From Bingbing
Hello! I would like to invite Dong nubs to dinner. From Bingbing
Hello! I would like to invite Caesar cattu to dinner. From Bingbing

In [60]:
print("Oh no, %s cannot make it to dinner anymore. I guess I will have to change the list." %(original_invite[3]))

Oh no, Caesar cat cannot make it to dinner anymore. I guess I will have to change the list.

In [61]:
original_invite[3] = "Caesar cat" #wait Caesar can still make it but he dislikes being called cattu
new_invite = original_invite.copy()
print("Hooray, %s are all able to make it to dinner still!" %(original_invite))

for new_invitee in new_invite:
     print("Hello! I would like to invite %s to dinner. From Bingbing" %(new_invitee))

Hooray, ['Dad', 'Mama', 'Dong nubs', 'Caesar cat'] are all able to make it to dinner still!
Hello! I would like to invite Dad to dinner. From Bingbing
Hello! I would like to invite Mama to dinner. From Bingbing
Hello! I would like to invite Dong nubs to dinner. From Bingbing
Hello! I would like to invite Caesar cat to dinner. From Bingbing

In [62]:
#The table increases in size!
new_invite.insert(2, "Baozhi corgi")
new_invite.append("Naughty maomao")
                  
print("Now the invite includes %s." %(new_invite))

Now the invite includes ['Dad', 'Mama', 'Baozhi corgi', 'Dong nubs', 'Caesar cat', 'Naughty maomao'].

In [63]:
for next_time in new_invite[4:]:
    next_time = new_invite.pop(-1) #in your for loop, you can even specify what the variable is
    print("Sorry %s, we will be inviting you to dinner another day." %(next_time))

print("Okay, %s! It's dinner time." %(new_invite))

Sorry Naughty maomao, we will be inviting you to dinner another day.
Sorry Caesar cat, we will be inviting you to dinner another day.
Okay, ['Dad', 'Mama', 'Baozhi corgi', 'Dong nubs']! It's dinner time.

In [64]:
del new_invite[2]
new_invite

['Dad', 'Mama', 'Baozhi corgi']

**Well done. You have completed the introduction to python language variables!**