Welcome to **Jupyter notebooks**.  
Jupyter notebooks consist of many different types of cells:
+ Toggle between edit (enter) or command (esc) or code (y) or markdown (m).
+ Each cell can run its individual code.
+ Each cell only prints its last output, unless specified using print(). 
+ During edit mode, x|c|v|d commands can be used to manipulate individual cells.
+ Create new cells using a|b and navigate through them using shift + enter or up | downs.
+ Also use control + enter to run cells.

In [14]:
b = [1,2,3] # use square brackets to store data in a list
b # each cell prints the last output

[1, 2, 3]

In [16]:
c = [[14, 15, 16], 5, 6, 7]
print(c) # print() displays the output during any stage of coding in a cell

c[0][1] # 1st position in first list, 2nd position in second inner list

[[14, 15, 16], 5, 6, 7]

15

**Python can be used as a calculator when working with numbers**
+ Addition and subtraction
+ Work with negative numbers
+ Multiply and divide (following left to right rules, i.e. higher powers or multiplication and division first)
+ Square numbers using the power command **2 (i.e. to the power of 2)  

Note: Numbers can be either **integers** (faster, no decimals) or **floats** (slower, decimals).

In [17]:
4 + 12

16

In [18]:
-5 + 10

5

In [19]:
3 * 10 / 3 # operation calculated from left to right

10.0

In [13]:
2**3 # to the power of 3

8

Some unique mathematical functions also exist:  
+ Divide and floor - using **//**  
+ Divides and prints the reminder - using **%**

In [21]:
# divide and floor (find the closest whole numeber divisor?)
print(7//3) # i.e. 2 x 3 = 6
print(10//3) # i.e. 3 x 3 = 9
print(10//4) # i.e. 2 x 4 = 8
print(10//5)

2
3
2
2

In [23]:
# compare // with /
7/2

3.5

In [25]:
# % returns you the remainder after division
print(6%2)
print(6%5) # 1 x 5 = 5 and 6 - 5 = 1

0
1

**Using character strings**  
+ Words can be converted into strings, by placing them inside "" or ''.  
+ Consistency is key: used '' or "" consistently.  
+ Unlike R, word strings can be directly added or even multiplied.

In [26]:
word = "This is a word"
word

'This is a word'

In [29]:
my_name = "Erika" + " " + "M" + " " + "Duan" #manually add spaces via " "
my_name # do not use my.name for annotation

'Erika Mubby Duan'

In [27]:
Gollum = "my" + " " + "precious" + "s"*5
Gollum

'my precioussssss'

**Using functions**  
Functions follow the general structure function (objects, arguments).
Examples include:  
+ **type()** is a useful function for knowing your data type.
+ **len()** is like length() in R - finds the length of a string.
+ **int()** | **str()** | **float()** are forms of data coercion and is like as.integer, as.character and as.numeric in R.

In [28]:
type("Hobbit")

str

In [30]:
type(1.5) # has decimals, hence a float

float

In [31]:
type(3**2)

int

In [34]:
len("I want one pingu.")

17

In [37]:
len("I want a pingu.") # two spaces less

15

In [38]:
len(5000) # error - object of type 'int' has no len()

TypeError: object of type 'int' has no len()

In [42]:
len("5000") # character length of 4
len(str(5000)) # also coerces 5000 into a character

4

In [45]:
int(3.4445) # coercing integers always rounds down to the nearest full integer

3

In [47]:
float(5) # retains decimals if present

5.0

In [48]:
int(1.0) + int(float("1.1")) # integer coercion forces float 1.1 into a 1

2

**Navigating string specific functions**  
+ To make everything uppercase, use .upper() 
    + Methods are functions specific to a certain type of object.
    + Format follows object.methods(arguments)  
+ Other examples exist [here](https://docs.python.org/3/library/stdtypes.html#string-methods).
    + "str".capitalize
    + "str".title

In [51]:
upper("Hallo World") # incorrectly using a function instead of a method

NameError: name 'upper' is not defined

In [52]:
"Hallo World".upper() # method because it changes the object to another form

'HALLO WORLD'

In [53]:
"Yarrgehe PIRATE LANGUAGE".title()

'Yarrgehe Pirate Language'

**Using print()**  
+ Print statements take the data input and print it as an output (i.e. as a string) to the console. 
+ Useful when trying to format some text output in a particular way - such as only using 2 decimal points of a number.
+ Useful for 'looking under the hood' when you are coding.
+ Useful when you are looking for issues in the code, i.e. you can print out your data at the point where you think things are going wrong.

In [54]:
print("Hello", "World", 2019) # no need to add the " " spaces manually

Hello World 2019

In [55]:
print(100,000,000) # NEVER use commas for large integers

100 0 0

**Assigning variables in python**  
Like R (which uses <-), python allows assigning of variables (using **=**).  

When naming variables, you must follow some rules:  
+ Names must start with a letter (a-z,A-Z) or underscore (_) and can be followed by any number of letters, digits (0-9), or underscores
+ Names cannot be the same as reserved words (False, True, None, And, If, For, While). 
+ Names are case-sensitive: 'YOU', 'you', 'You', and 'yOu' are all different names in Python
+ '-', '+', '*', and '/' are used by Python for defining operations on data and cannot be used

In [56]:
number = 3.5

print(type(number))
# What will be the answer here?

<class 'float'>

In [58]:
print(number**2 + 5) # (3.5 x 3.5) + 5

17.25

In [59]:
team_name = "I like python"
team_count = 2
team_age = 31.5

print("Our team name is", team_name, ".", "We are", team_count, "in team number and our average age is", team_age, ".")

Our team name is I like python . We are 2 in team number and our average age is 31.5 .

**Note that a more elegant method of printing exists (that doesn't add in extra spaces).**

In [76]:
TeamName = 'I like R'
X = 4
Y = 25.976
print("Our team name is '%s'. We have %i members and we are, on average, %0.2f years old" %(TeamName, X, Y))

# %0.2f represents a number rounded to 2 decimal places

Our team name is 'I like R'. We have 4 members and we are, on average, 25.98 years old

In [77]:
Fellowship = 'Fellowship of the Ring'
Team_number = 9
Height_diff = 1.23
Member = 'Gimli'

print("In the %s, the team was %i with a height difference of %0.1f metres, and the shortest person was %s."
      %(Fellowship, Team_number, Height_diff, Member))

In the Fellowship of the Ring, the team was 9 with a height difference of 1.2 metres, and the shortest person was Gimli.

**You will notice that the latter print format is more flexible for use.**  
Use the **%** to add other data types and formatting into your print string.  
You can add multiple %i in one sentence, and the order is determined by the sequence specified in brackets. 
    + Use %i = int
    + Use %f = float (add numbers/decimals before the f to specify how many numbers you want to be visible)
    + Use %s = string
    
What happens when you mislabel or forget to label a type? (Error messages!)

In [78]:
snack = "chocolate"
message = print("Hello world. I have %s and %i %s." %(snack, 2, 'cats'))
type(message) # Nonetype it is a string?

Hello world. I have chocolate and 2 cats.

NoneType

In [79]:
message = print("Hello world. I have %s and %i lamas." %(snack, 2))
print(type(message)) 

str(message) # coerces to characters
print(type(message))

Hello world. I have chocolate and 2 lamas.
<class 'NoneType'>
<class 'NoneType'>

**3 pet peeves of python**
1. The first object in a list is **[0]**
2. To slice from a list, always slice between a and b+1 to extract a:b
3. Using list2 = list1 creates two names for the same list; use **list2 = list1[:]** or **list2 = list1.copy()**

**Extra Python challenges**  
+ Guest list challenge

In [80]:
# Write a guest list and individually write an invitation asking people to dinner. 
original_invite = ["Dad", "Mum", "Dan", "Caesar cat"]

for invitee in original_invite:
    print("Hello %s! I would like to invite you to dinner." %(invitee))

Hello Dad! I would like to invite you to dinner.
Hello Mum! I would like to invite you to dinner.
Hello Dan! I would like to invite you to dinner.
Hello Caesar cat! I would like to invite you to dinner.

In [73]:
print("Oh no, %s can't make it to dinner anymore. I guess I will have to change the list." %(original_invite[3]))

Oh no, Caesar cat can't make it to dinner anymore. I guess I will have to change the list.

In [81]:
new_invite = original_invite.copy() # create a copy of the original invite

original_invite[3] = "Caesar" # wait Caesar can still make it but he dislikes being termed a cat

for new_invitee in new_invite:
     print("Hello '%s'! I would like to invite you to dinner." %(new_invitee))

Hello 'Dad'! I would like to invite you to dinner.
Hello 'Mum'! I would like to invite you to dinner.
Hello 'Dan'! I would like to invite you to dinner.
Hello 'Caesar cat'! I would like to invite you to dinner.

In [83]:
# The list increases in size!

new_invite.insert(2, "Baozhi the corgi") # adds a new object at the third position
new_invite.append("Xiongxiong the German Shepard") # adds a new object into the last position
                  
print("Now the invite includes %s." %(new_invite))

Now the invite includes ['Dad', 'Mum', 'Baozhi the corgi', 'Baozhi the corgi', 'Dan', 'Caesar cat', 'Xiongxiong the German Shepard', 'Xiongxiong the German Shepard'].

In [85]:
for next_time in new_invite[4:]: # objects from the fifth to last position 
    next_time = new_invite.pop(-1) # remove objects from new_invite list and store the object in in next_time 
    print("Sorry %s, we will be inviting you to dinner another day." %(next_time))

print("Okay, %s! It's dinner time." %(new_invite))

Okay, ['Dad', 'Mum', 'Baozhi the corgi', 'Baozhi the corgi']! It's dinner time.

In [86]:
print(new_invite)

del new_invite[2] # del can also be used to delete an object in a list

print(new_invite)

['Dad', 'Mum', 'Baozhi the corgi', 'Baozhi the corgi']
['Dad', 'Mum', 'Baozhi the corgi']

**Well done. You have completed the introduction to Navigating Jupyter and using Python variables!**