### Python Review Challenge
**Step 1:** We have a lab machine read out a list of lists of numbers, and we want to get the number at index j in the list at index i and assign it a variable name.  
**Step 2:** I want you to print out the variable data, the type of data, and the number of characters in the data point.  
**(Extra Credit):** Print out the number of digits before and after the decimal if it's a float.

In [2]:
machine_readout=[[2,3.5,7,8.5,30,10000],[17,14,6,8,1291099.3,],[70,50,34,5,6,12.2,777],[87,92,45,67,66.66,555]]
# the two indices I want you to use
i=1 # tells you which list to extract from machine readout
j=4 #which index in that sublist

In [10]:
j_i = machine_readout[1][4] #can also use machine_readout[i][j]
print(j_i)

1291099.3

In [11]:
type(j_i)

float

In [25]:
len(str(j_i))
print(str(j_i))

1291099.3

### Intermediate iterations  
The general structure of a 'for loop' looks like this:  
**for variable in collection: action(variable)**

In [32]:
name = "Jon"
print(name)

# This is going to re-write "name"
for name in 'abc':
    print(name)

print('after the loop, name is', name)

Jon
a
b
c
after the loop, name is c

In [34]:
# We can do this with both lists
p_list = [1,3,'This']

for p in p_list:
    if type(p) is str: #notice that we used our str function without Parentheses to compare types!
        print('its a string with length', len(p))
    else:
        print('not a string', p)
print('done with loop!')
p

not a string 1
not a string 3
its a string with length 4
done with loop!

'This'

**Range: quick and dirty iterable for the hard working Pythoneer**  
Because sometimes you still want to loop when you don't have a list or string, or maybe you want to skip a few items in a list?

In [39]:
for num in range(2,5+1):
    print(num)

2
3
4
5

In [41]:
for num in range(10+1):
    print(num) 
    
# output starts at 0 and ends at 10

0
1
2
3
4
5
6
7
8
9
10

In [42]:
# if we look at this as a list we get:
rangelist = []
for num in range(5,10):
    rangelist.append(num)
    
print(rangelist)

[5, 6, 7, 8, 9]

**If we want to skip a few numbers, we can also use range.**

In [44]:
#3 values = range(start, stop, step)
rangelist_2 = []
for num in range(10,30,2): #skips by 2
    rangelist_2.append(num)

print(rangelist_2)

[10, 12, 14, 16, 18, 20, 22, 24, 26, 28]

By combinging range() with our len() function, we've now got a convenient way to iterate over the length of our lists.

In [45]:
# from 0 to 3 (non inclusive)
odds = [1,3,5,7]

for i in range(0,len(odds),2):
    print("index i =",i)
    print("odds at i =",odds[i])

index i = 0
odds at i = 1
index i = 2
odds at i = 5

In [46]:
# We can do the same with strings two, another iterable object
string = "This. Is. Python!"
for l in range(0,len(string),3):
    print(string[l], l)

T 0
s 3
I 6
  9
t 12
n 15

Range is the simple and most elegant iterable operator, but there are a whole heap of premade iterators that can make your life easier.  
https://docs.python.org/3.6/library/itertools.html

In [47]:
# here is an example
import itertools

combs = itertools.combinations('ABCde',2)

for combi in combs:
    print(combi)

('A', 'B')
('A', 'C')
('A', 'd')
('A', 'e')
('B', 'C')
('B', 'd')
('B', 'e')
('C', 'd')
('C', 'e')
('d', 'e')

#### Challenge:  
In your groups (or individually), write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5, between 2000 and 3200 (both included). The numbers obtained should be printed as a list.
Hint: This will require to you combine range with some modulo conditions.

In [68]:
num_list = []
for num in range(2000, 3200+1):
    if (num%7 == 0) & (num%5 != 0):
        num_list.append(num)

print(num_list)
print("Done!")

2002
2009
2016
2023
2037
2044
2051
2058
2072
2079
2086
2093
2107
2114
2121
2128
2142
2149
2156
2163
2177
2184
2191
2198
2212
2219
2226
2233
2247
2254
2261
2268
2282
2289
2296
2303
2317
2324
2331
2338
2352
2359
2366
2373
2387
2394
2401
2408
2422
2429
2436
2443
2457
2464
2471
2478
2492
2499
2506
2513
2527
2534
2541
2548
2562
2569
2576
2583
2597
2604
2611
2618
2632
2639
2646
2653
2667
2674
2681
2688
2702
2709
2716
2723
2737
2744
2751
2758
2772
2779
2786
2793
2807
2814
2821
2828
2842
2849
2856
2863
2877
2884
2891
2898
2912
2919
2926
2933
2947
2954
2961
2968
2982
2989
2996
3003
3017
3024
3031
3038
3052
3059
3066
3073
3087
3094
3101
3108
3122
3129
3136
3143
3157
3164
3171
3178
3192
3199
[2002, 2009, 2016, 2023, 2037, 2044, 2051, 2058, 2072, 2079, 2086, 2093, 2107, 2114, 2121, 2128, 2142, 2149, 2156, 2163, 2177, 2184, 2191, 2198, 2212, 2219, 2226, 2233, 2247, 2254, 2261, 2268, 2282, 2289, 2296, 2303, 2317, 2324, 2331, 2338, 2352, 2359, 2366, 2373, 2387, 2394, 2401, 2408, 2422, 2429, 2436, 2443, 2457, 2464, 2471, 2478, 2492, 2499, 2506, 2513, 2527, 2534, 2541, 2548, 2562, 2569, 2576, 2583, 2597, 2604, 2611, 2618, 2632, 2639, 2646, 2653, 2667, 2674, 2681, 2688, 2702, 2709, 2716, 2723, 2737, 2744, 2751, 2758, 2772, 2779, 2786, 2793, 2807, 2814, 2821, 2828, 2842, 2849, 2856, 2863, 2877, 2884, 2891, 2898, 2912, 2919, 2926, 2933, 2947, 2954, 2961, 2968, 2982, 2989, 2996, 3003, 3017, 3024, 3031, 3038, 3052, 3059, 3066, 3073, 3087, 3094, 3101, 3108, 3122, 3129, 3136, 3143, 3157, 3164, 3171, 3178, 3192, 3199]
Done!

#### Iterating Over Dictionaries
Because dictionaries actually exist as key and value pairs, trying to loop over them in the same way that we would a list doesn't quite work.

In [90]:
# dictionary
stats = {'mean':5.5,'Stdev':0.5, 'median':5,'mode':4}

In [84]:
# This will only give me the keys!!
for item in stats:
    print(item)

mean
Stdev
median
mode

In [98]:
for item in stats.items(): #specify .items or .values or .keys if object is a dictionary
    print(item)

('mean', 5.5)
('Stdev', 0.5)
('median', 5)
('mode', 4)

In [97]:
for item in stats.values():
    print(item)

5.5
0.5
5
4

#### Challenge  

We want to create a dictionary that counts how many times a word occurs inside a list.  
For example, where sentence = ['list', 'of', 'words', 'list', "!"]  


The dictionary we should get back would be:  
counts = {'list' : 2, "of" : 1, "words": 1, "!": 1}  

Within the code, we'd have to run through the words in the sentence, and increment the dictionary count for that word by 1 each time, like so:  
counts["of"] += 1  
In your group, try to iterate over the list sentence, defined below, to create your own counts dictionary. Output the word which occured the most amount of times.

In [101]:
sentence = ['How', 'many', 'words', 'is', 'this', 'so', 'far', '?', "!", 'Too', 'many','I', "say", "!", 'Computer', 'science', 'has', 'gone', 'too', 'far', '!']

counts = {}
for word in sentence:
    if word not in counts:
        counts[word] = 1
    else:
        counts[word] += 1 # i.e. += means x = x+1
print(counts)

{'How': 2, 'many': 4, 'words': 2, 'is': 2, 'this': 2, 'so': 2, 'far': 4, '?': 2, '!': 6, 'Too': 2, 'I': 2, 'say': 2, 'Computer': 2, 'science': 2, 'has': 2, 'gone': 2, 'too': 2}

#### While Loops
The while statement allows you to repeatedly execute a block of statements as long as a condition is true.  
A while statement can have an optional else clause.
While loops are great when you don't actually know how many times you want to repeat you block of code.

The general structure of a for loop looks like this:    
**while condition is True: action() #repeatedly**

In [104]:
n = 0

while n < 10:
    print('n is less than ten', 'n = ', n)
    n+=2# The same as n = n+1

n is less than ten n =  0
n is less than ten n =  2
n is less than ten n =  4
n is less than ten n =  6
n is less than ten n =  8

#### Challenge 11a
We are going to go through the sequence of triangular numbers, and find how many steps we need to go through to get past a large, randomly assigned number.

Hint: You will need to keep updating two number variables in the loop, the sum thats being added up, and the count of steps and adder.

In [106]:
# making us the random numbers
from numpy import random
num = random.randint(10000,1000000)

print(num)

786736

In [115]:
num = 29484
#write a sequence of triangle numbers

t = 0
running_sum = 0

while running_sum < num:
    t = t+1
    running_sum += t
    print(t, running_sum)
print(t)

1 1
2 3
3 6
4 10
5 15
6 21
7 28
8 36
9 45
10 55
11 66
12 78
13 91
14 105
15 120
16 136
17 153
18 171
19 190
20 210
21 231
22 253
23 276
24 300
25 325
26 351
27 378
28 406
29 435
30 465
31 496
32 528
33 561
34 595
35 630
36 666
37 703
38 741
39 780
40 820
41 861
42 903
43 946
44 990
45 1035
46 1081
47 1128
48 1176
49 1225
50 1275
51 1326
52 1378
53 1431
54 1485
55 1540
56 1596
57 1653
58 1711
59 1770
60 1830
61 1891
62 1953
63 2016
64 2080
65 2145
66 2211
67 2278
68 2346
69 2415
70 2485
71 2556
72 2628
73 2701
74 2775
75 2850
76 2926
77 3003
78 3081
79 3160
80 3240
81 3321
82 3403
83 3486
84 3570
85 3655
86 3741
87 3828
88 3916
89 4005
90 4095
91 4186
92 4278
93 4371
94 4465
95 4560
96 4656
97 4753
98 4851
99 4950
100 5050
101 5151
102 5253
103 5356
104 5460
105 5565
106 5671
107 5778
108 5886
109 5995
110 6105
111 6216
112 6328
113 6441
114 6555
115 6670
116 6786
117 6903
118 7021
119 7140
120 7260
121 7381
122 7503
123 7626
124 7750
125 7875
126 8001
127 8128
128 8256
129 8385
130 8515
131 8646
132 8778
133 8911
134 9045
135 9180
136 9316
137 9453
138 9591
139 9730
140 9870
141 10011
142 10153
143 10296
144 10440
145 10585
146 10731
147 10878
148 11026
149 11175
150 11325
151 11476
152 11628
153 11781
154 11935
155 12090
156 12246
157 12403
158 12561
159 12720
160 12880
161 13041
162 13203
163 13366
164 13530
165 13695
166 13861
167 14028
168 14196
169 14365
170 14535
171 14706
172 14878
173 15051
174 15225
175 15400
176 15576
177 15753
178 15931
179 16110
180 16290
181 16471
182 16653
183 16836
184 17020
185 17205
186 17391
187 17578
188 17766
189 17955
190 18145
191 18336
192 18528
193 18721
194 18915
195 19110
196 19306
197 19503
198 19701
199 19900
200 20100
201 20301
202 20503
203 20706
204 20910
205 21115
206 21321
207 21528
208 21736
209 21945
210 22155
211 22366
212 22578
213 22791
214 23005
215 23220
216 23436
217 23653
218 23871
219 24090
220 24310
221 24531
222 24753
223 24976
224 25200
225 25425
226 25651
227 25878
228 26106
229 26335
230 26565
231 26796
232 27028
233 27261
234 27495
235 27730
236 27966
237 28203
238 28441
239 28680
240 28920
241 29161
242 29403
243 29646
243

#### Challenge

Using a while loop, write a program that tells you how many iterations of the fibonacci sequence it takes to get to a randomly selected number greater than 10,000.

In [116]:
num = 3548

a = 0
b = 1
total = 0
i = 0 #iteration

while total < num:
    total = a + b
    a = b
    b = a + b
    i +=1
print(i)

13

General syntax:
new_list = [expression(x) for x in old_list]
the equivalent to

new_list = []
for x in oldlist:
    new_list.append(expression(i))