# Introduction to Jupyter notebooks

![Welcome!](../02_images/notebook1.jpg)

## Navigating Jupyter notebooks

**Jupyter notebooks** are a versatile way to document and run your Python code. A notebook consist of many individual cells (similar to individual chunks found in an R markdown file).  

You can:  

+ Toggle between edit (`enter key`) or command (`esc key`).
+ Toggle between code (`y key`) or markdown (`m key`).
+ Each cell can run its individual code.
+ Each cell only prints its last output, unless objects are specified using `print()`. 
+ Create new cells using `a | b keys` and navigate through them using `shift + enter keys` or `up | down keys`.
+ Use `control + enter keys` to run cells.  
+ During edit mode, use `x | c | v | d keys` to manipulate individual cells.

In [34]:
b = [1, 2, 3] # use square brackets to store data in a list
b # each cell automatically prints the last output

[1, 2, 3]

In [1]:
c = [[14, 15, 16], 5, 6, 7]
print(c) 

c[0][1] # 1st position in the inner list found in position 0

[[14, 15, 16], 5, 6, 7]

15

## Mathematical operations 

Python can be used to perform standard calculations.  

+ Addition and subtraction.
+ Handling negative numbers.
+ Multiplication and division (following algebraic rules i.e. exponents, multiplication or division are calculated first).
+ Working with exponents using `**n` (i.e. to the power of n).  

Numbers can stored as either integers (faster to compute and does not contain decimals) or floats (slower to compute and contains decimals). 

**Warning:** Python rounds results into integers when you are [dividing by integers](https://stackoverflow.com/questions/33944111/how-to-convert-int-to-float-in-python).

In [3]:
# addition  
4 + 12

16

In [4]:
# handling negative numbers  
-5 + 10

5

In [19]:
# mathematical operations are calculated from left to right
3 * 11 / 3

11.0

In [21]:
# 2 ^ 3
2**3

8

Non-standard mathematical functions are also used in Python.   

+ Divide and floor (i.e. round down the result to an integer) using `//`.  
+ The modulo operation (i.e. divide and calculate the remainder) using `%`.

In [22]:
# divide and floor 
print(10//4) 
print(10/4)

2
2.5

In [33]:
# modulo operation 
print(12%3)
print(13%4) # 12/4 + 1

0
1

## Creating and manipulating character strings  

Words can be converted into strings, by placing them inside the `""` or `''`. Remember to use `""` or `''` in a consistent manner.   
In contrast to R, character strings in Python can be directly added or multiplied.

In [35]:
word = "This is a word!"
word

'This is a word!'

In [37]:
my_name = "Erika" + " " + "M" + " " + "Duan" # manually add spaces via " "
my_name # do not use my.name for annotation

'Erika M Duan'

In [12]:
Gollum_says = "my" + " " + "precious" + "s" * 5
Gollum_says

'my precioussssss'

## Python functions versus methods

In Python, functions follow the general structure `function(objects, arguments)`.  

+ The function `type()` shows data type and behaves like `class()` in R.
+ The function `len()` finds the length of an object and behaves like `length()` in R.  
+ The functions `int()`, `str()`, `float()` are data coercion functions and behave like `as.integer()`, `as.character()` and `as.numeric()` in R.  

**Note:** The function `len()` is used to find the length of a string, data frame or object. It should not be used to print the value of an integer or float and will produce an error if treated thus.

In [39]:
type("Hobbit") # string i.e. character string

str

In [42]:
type(3**2)

int

In [43]:
type(3.1**2)

float

In [45]:
len("penguins")

8

In [47]:
len("more penguins") # 5 more characters than the previous string

13

### Coercing objects into strings, intergers or floats

In [50]:
a = str(5000) 
type(a) # "5000" = a string

str

In [51]:
int(3.45) # coercing integers always rounds down to the nearest full integer

3

In [22]:
float(5) # retains decimals if present

5.0

In [52]:
int(1.0) + int(float("1.1")) # integer coercion forces float 1.1 into 1

2

### Working with strings  

In Python, methods follow the structure `object.methods(arguments)`. Unlike functions, methods are thought of as actions which perform changes on objects.  

For example, to convert everything into an uppercase, use the `.upper()` method. 
Other examples of methods exist [here](https://docs.python.org/3/library/stdtypes.html#string-methods) i.e. `.capitalize()` and `.title()`.

In [53]:
"Hello World!".upper() # method because it changes the object to another form

'HELLO WORLD!'

### Printing objects and statements  

+ Print statements take the data input and print it as an output (i.e. as a string) to the console. 
+ Useful when trying to format some text output in a particular way - such as only using 2 decimal points for a number.
+ Useful for 'looking under the hood' when you are coding.
+ Useful when you are looking for issues in the code, i.e. you can print out your data at the point where you think things are going wrong.

In [27]:
print("Hello", "World", 2019) # unlike adding strings, there is no need to add the " " spaces manually

Hello World 2019

In [28]:
print(100,000,000) # never use commas for large integers

100 0 0

**Assigning variables in Python**  
Python allows assigning of variables using the **= symbol**.  

When assigning variables, you must follow some rules:  
+ Names must start with a letter (a-z,A-Z) or underscore (_) and can be followed by any number of letters, digits (0-9), or underscores.
+ Names cannot be the same as reserved words (i.e. False, True, None, And, If, For, While). 
+ Names are case-sensitive: 'YOU', 'you', 'You', and 'yOu' are all different names in Python.
+ The **- | + | * | /** symbols are used by Python for defining operations on data and also cannot be used.

In [29]:
number = 3.5

print(type(number))

<class 'float'>

In [30]:
print(number*2 + 5) # (3.5 x 3.5) + 5

12.0

**Printing sentences by stringing together characters and variables can be cumbersome and bulky.**

In [31]:
team_name = "Python Users"
team_count = 2
team_age = 31.5

print("Our team name is", team_name, ".", "We are", team_count, "in team number and our average age is", team_age, ".")

Our team name is Python Users . We are 2 in team number and our average age is 31.5 .

**Luckily, an elegant way of performing print() exists that doesn't add in unintended spaces.**  

It follows the syntax **print("This sentence contains %s and %i and %f." %(string, integer, float))**.  
However, this format converts the string into a 'None Type' class.

In [32]:
TeamName = 'R Users'
X = 4
Y = 25.976
print("Our team name is %s. We have %i members and we are, on average, %0.2f years old." %(TeamName, X, Y))

# %0.2f represents a float rounded to only 2 decimal places

Our team name is R Users. We have 4 members and we are, on average, 25.98 years old.

In [33]:
Fellowship = 'Fellowship of the Ring'
Team_number = 9
Member = 'Gimli'

print("In the %s, the team consisted of %i members. The shortest person was %s."
      %(Fellowship, Team_number, Member))

In the Fellowship of the Ring, the team consisted of 9 members. The shortest person was Gimli.

In [34]:
message = print("Hello world. I know %i programming languages, %s and %s." %(2, "R", "Python"))
print(type("message"))
print(type(message)) 

str(message) # coerces to characters
print(type(str(message)))

Hello world. I know 2 programming languages, R and Python.
<class 'str'>
<class 'NoneType'>
<class 'str'>

**Watch out for the 3 pet peeves of Python!**  

1. The first object in a list is stored in position **[0]**.
2. To slice from a list, always slice between a and b+1 to extract a:b.
3. Using list2 = list1 creates two names for the same list; use **list2 = list1[:]** or **list2 = list1.copy()** instead.

**Extra Python Crash Course Challenge - printing lists**  
For the original exercise, please refer to page 46 of Python Crash Course (8th printing) by Eric Matthes.

In [35]:
# Write a guest list and individually write an invitation asking people to dinner. 
original_invite = ["Dad", "Mum", "Dan", "family cat"]

for invitee in original_invite:
    print("Hello %s! I would like to invite you to dinner." %(invitee))

Hello Dad! I would like to invite you to dinner.
Hello Mum! I would like to invite you to dinner.
Hello Dan! I would like to invite you to dinner.
Hello family cat! I would like to invite you to dinner.

In [36]:
print("Oh no, the %s can't make it to dinner anymore. I guess I will have to change the list." %(original_invite[3]))

Oh no, the family cat can't make it to dinner anymore. I guess I will have to change the list.

In [37]:
new_invite = original_invite.copy() # create a copy of the original invite

new_invite[3] = "neighbour's cat" 

for new_invitee in new_invite:
     print("Hello %s! I would like to invite you to dinner." %(new_invitee))

Hello Dad! I would like to invite you to dinner.
Hello Mum! I would like to invite you to dinner.
Hello Dan! I would like to invite you to dinner.
Hello neighbour's cat! I would like to invite you to dinner.

In [38]:
# The list increases in size!

new_invite.insert(2, "family corgi") # adds a new object at the third position
new_invite.append("family German Shepherd") # adds a new object into the last position
                  
print("Now the invite includes %s." %(new_invite))

Now the invite includes ['Dad', 'Mum', 'family corgi', 'Dan', "neighbour's cat", 'family German Shepherd'].

In [39]:
# The list decreases in size again!
for next_time in new_invite[4:]: # objects from the fifth to last position 
    next_time = new_invite.pop(-1) # remove objects from new_invite list and store the object in in next_time 
    print("Sorry %s, we will be inviting you to dinner another day." %(next_time))

for new_invitee in new_invite:
    print("Okay, %s! It's dinner time." %(new_invitee))

Sorry family German Shepherd, we will be inviting you to dinner another day.
Sorry neighbour's cat, we will be inviting you to dinner another day.
Okay, Dad! It's dinner time.
Okay, Mum! It's dinner time.
Okay, family corgi! It's dinner time.
Okay, Dan! It's dinner time.

In [40]:
# Deleting elements in a list using del

print(new_invite) # new invite has been modified due to the previous for loop
del new_invite[2] # del can also be used to delete an object in a list at any position

print(new_invite)

['Dad', 'Mum', 'family corgi', 'Dan']
['Dad', 'Mum', 'Dan']

**This concludes the introduction to navigating Jupyter notebooks and using Python data structures.**